fastapi
uvicorn[standard]
PyMySQL
cryptography
pydantic
python-dotenv
python-jose
python-multipart
PyYAML
requests
rsa
SQLAlchemy
reportlab
pdfplumber
python-docx
groq
beautifulsoup4
litellm
openai
gunicorn
passlib[bcrypt]
email-validator
